<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Persist Security Info=True;User ID=zsqlBizagiSetup;Password=B1z491DBB1z491DB2;Data Source=SLK30AS0010V\RICEFW_BIZ;Initial Catalog=PROJ_PHOENIX;"/>
		<add key="RulesFolder" value="C:\workspace\PHOENIX\Rules" />
		<add key="GitFolder" value="C:\workspace\PHOENIX" />
	</appSettings>
</configuration>